<div class="row mt-0 mt-lg-8">
    <%- include('../../includes/admin/search-form') %>
    <div class="col-12 table-responsive">
        <table  class="table table-striped table-bordered" id="kt_datatable">
            <thead>
            <tr>
                <th>#</th>
                <th><%= __('admin.fields.image') %></th>
                <th><%= __('admin.fields.name') %></th>
                <th><%= __('admin.fields.phone') %></th>
                <th><%= __('admin.fields.registration_date') %></th>
                <th><%= __('admin.fields.role') %></th>
                <th><%= __('admin.fields.city') %></th>
                <th><%= __('admin.fields.status') %></th>
                <th><%= __('admin.fields.actions') %></th>
            </tr>
            </thead>
            <tbody>
            <% if(users.length > 0) { %>
                <% for (let user in users) { %>
                    <tr>
                        <td><%= eval(user) + 1 %></td>
                        <td>
                            <div class="symbol symbol-30 symbol-circle">
                                <% if(users[user].image) { %>
                                    <img src="<%= asset(`${USER_PROFILE_IMAGE_FOLDER}/${users[user].image}`)%>" >
                                <% } %>
                            </div>
                        </td>
                        <td><%= users[user]['full_name'] %></td>
                        <td><%= users[user]['phone'] %></td>
                        <td><%= formatDate(users[user]['created_at'],language) %></td>
                        <td><%= users[user]['role'] %></td>
                        <td><%= users[user]['city'] %></td>
                        <td><%= users[user].status == true ? __('admin.statuses.active') : __('admin.statuses.deactivate') %></td>
                        <td>
                            <a type="button" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2" href="edit/<%= users[user]['id'] %>">
                                <i class="flaticon2-edit"></i>
                            </a>
                            <button onclick="deleteItem('<%=users[user]['id'] %>')" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2">
                                <i class="flaticon-delete"></i>
                            </button>
                        </td>
                    </tr>
                <% } %>
            <% } else { %>
                <td class="text-center" colspan="9">
                    دیتایی جهت نمایش وجود ندارد
                </td>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
<%- include('../../includes/admin/pagination') %>
<script>
    function deleteItem(id) {
        Swal.fire({
            title: "<%= __('admin.actions.delete')%>",
            text: "<%= __('admin.general.delete_confirm')%>",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: "<%= __('admin.actions.cancel')%>",
            confirmButtonText: "<%= __('admin.actions.confirm')%>",
        }).then((result) => {
            if (result.value) {
                window.location.href = "articles/delete/"+id;
            }
        })
    }
</script>