<div class="row mt-0 mt-lg-8">
    <div class="col-12">
        <div class="card card-custom gutter-b example example-compact">
            <form action="/admin/articles/store" method="post" enctype="multipart/form-data">
                <%- include('../../includes/admin/validation-errors') %>
                <div class="card-header">
                    <h3 class="card-title"><%=page_title%></h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-12">
                            <label for="title">عنوان*</label>
                            <input value="<%= oldData?.title %>" type="text" name="title" id="title" class="form-control">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="status">وضعیت*</label>
                            <select class="form-control" name="status" id="status">
                                <option value=""></option>
                                <option value="1" <%= ((oldData?.status) == true) ? 'selected': '' %> >منتشر شده</option>
                                <option value="0" <%= (oldData?.status) == false ? 'selected': '' %> >پیشنویس</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                                                                            <label for="priority">نمایش*</label>
                                                                            <select class="form-control" name="priority" id="priority">
                                                                                <option value=""></option>
                                                                                <option value="<%= mediaVide.image %>" <%= ((oldData?.priority) == mediaVide.image) ? 'selected': '' %>>  نمایش تصویر </option>
                                                                                <option value="<%= mediaVide.video %>" <%= (oldData?.priority) == mediaVide.video ? 'selected': '' %> > نمایش ویدئو</option>
                                                                            </select>
                                                                        </div>
                        <div class="form-group col-md-6">
                            <label>تصویر </label>
                            <div></div>
                            <div class="custom-file">
                                <input type="file" name="image" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                        <div class="form-group col-md-8">
                                                                            <label>ویدئو </label>
                                                                            <div></div>
                                                                            <div class="custom-file">
                                                                                <input type="file" name="video" class="custom-file-input" id="video">
                                                                                <label class="custom-file-label" for="video">Choose file</label>
                                                                            </div>
                                                                        </div>
                        <div class="form-group col-12">
                            <label for="description">متن اصلی*</label>
                            <textarea rows="10" class="form-control" name="description" id="description"><%= oldData?.description %></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary mr-2">دخیره <i class="fa fa-save"></i></button>
                    <a href="/admin/categories"  class="btn btn-secondary">بازگشت <i class="fa fa-times"></i></a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/37.0.1/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create( document.querySelector( '#description' ) ,{
            language:'fa'
        })
        .catch( error => {
            console.error( error );
        } );
</script>