<div class="row mt-0 mt-lg-8">
    <div class="col-12">
        <div class="card card-custom gutter-b example example-compact">
            <form action="/admin/categories/update/<%= category.id%>" method="post" enctype="multipart/form-data">
                <%- include('../../includes/admin/validation-errors') %>
                <div class="card-header">
                    <h3 class="card-title"><%=page_title%></h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-12">
                            <label for="title"><%= __('admin.fields.title') %>*</label>
                            <input value="<%= oldData?.title  ?? category.title %>" type="text" name="title" id="title" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="status"><%= __('admin.fields.status') %>*</label>
                            <select class="form-control" name="status" id="status">
                                <option value=""></option>
                                <option value="1" <%= ((oldData?.status ?? category.status) == true) ? 'selected': '' %> ><%= __('admin.statuses.published') %></option>
                                <option value="0" <%= (oldData?.status ?? category.status ) == false ? 'selected': '' %> ><%= __('admin.statuses.draft') %></option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label><%= __('admin.fields.image') %> </label>
                            <div class="custom-file">
                                <input type="file" name="image" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <% if (category.image) {%>
                                <div class="symbol symbol-40 symbol-lg-80 mt-4">
                                    <img src="<%= asset(`${CATEGORY_IMAGE_FOLDER}/${category.image}`)%>"  class="mr-1 mb-1 imglist"
                                         style="border-radius: 5px" />
                                </div>
                            <%}%>
                        </div>
                        <div class="form-group col-12">
                            <label for="description"><%= __('admin.fields.body') %></label>
                            <textarea rows="10" class="form-control" name="description" id="description"><%= oldData?.description ?? category.description %></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary mr-2"><%= __('admin.actions.save') %> <i class="fa fa-save"></i></button>
                    <a href="/admin/categories"  class="btn btn-secondary"><%= __('admin.actions.cancel') %> <i class="fa fa-times"></i></a>
                </div>
            </form>
        </div>
    </div>
</div>