<div class="row mt-0 mt-lg-8">
    <%- include('../../includes/admin/search-form') %>
    <div class="col-12 p-0 m-0">
        <%- include('../../includes/admin/validation-errors') %>
    </div>
    <div class="col-12 table-responsive">
        <table  class="table table-striped table-bordered" id="kt_datatable">
            <thead>
            <tr>
                <th>#</th>
                <th>تصویر</th>
                <th>عنوان</th>
                <th>دسته بندی</th>
                <th>وضعیت</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody>
            <% if(galleries.length > 0) { %>
                <% for (let gallery in galleries) { %>
                    <tr>
                        <td><%= eval(gallery) + 1 %></td>
                        <td>
                            <div class="symbol symbol-30 symbol-circle">
                             <% if(galleries[gallery].image) { %>
                                <img src="<%= asset(`${GALLERY_IMAGE_FOLDER}/${galleries[gallery].image}`)%>" >
                             <% } %>
                            </div>
                        </td>
                        <td><%= galleries[gallery]['title'] %></td>
                        <td><%= galleries[gallery]?.category?.title %></td>
                        <td><%= galleries[gallery].status == true ? 'فعال' : 'غیر فعال' %></td>
                        <td>
                            <a type="button" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2" href="galleries/edit/<%= galleries[gallery]['id'] %>">
                                <i class="flaticon2-edit"></i>
                            </a>
                            <button onclick="deleteItem('<%=galleries[gallery]['id'] %>')" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2">
                                <i class="flaticon-delete"></i>
                            </button>
                        </td>
                    </tr>
                <% } %>
            <% } else { %>
                <td class="text-center" colspan="8">
                    دیتایی جهت نمایش وجود ندارد
                </td>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
<%- include('../../includes/admin/pagination') %>
<script>
    function deleteItem(id) {
        Swal.fire({
            title: 'حذف!',
            text: 'آیا از حذف گالری اطمینان دارید؟',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'خیر',
            confirmButtonText: 'بله'
        }).then((result) => {
            if (result.value) {
                window.location.href = "galleries/delete/"+id;
            }
        })
    }
</script>