<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form action="forget-password" class="login100-form validate-form p-l-55 p-r-55 p-t-178" method="post">
					<span class="login100-form-title">
						<%= page_title %>
					</span>

                <div>
                    <%- include('../../includes/validation-errors') %>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="<%= __("validation.required",__('fields.phone')) %>">
                    <input value="<%= oldPhone%>" class="input100" type="text" id="phone" name="phone" placeholder="<%= __('admin.fields.phone')%>">
                    <span class="focus-input100"></span>
                </div>


                <div class="p-t-13 p-b-23">
                    <a href="login" class="txt2">
                        <%= __('admin.actions.login_age')%>
                    </a>
                </div>

                <div class="container-login100-form-btn p-b-40">
                    <button class="login100-form-btn" type="submit">
                        <%= __('admin.actions.send')%>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
