<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form action="reset-password" class="login100-form validate-form p-l-55 p-r-55 p-t-178" method="post">
					<span class="login100-form-title">
                        <%= page_title %>
					</span>

                <div>
                    <%- include('../../includes/validation-errors') %>
                </div>

                <div class="d-none">
                    <input value="<%= phone%>" class="input100" type="text" id="phone" name="phone">
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="<%= __("validation.required",__("admin.fields.code")) %>">
                    <input value="<%= oldCode%>" class="input100" type="text" id="code" name="code" placeholder="<%= __('admin.fields.code')%> ">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="<%= __("validation.required",__('fields.password')) %>">
                    <input class="input100" type="password" id="password" name="password" placeholder="<%= __('admin.fields.password')%>">
                    <span class="focus-input100"></span>
                </div>


                <div class="wrap-input100 validate-input m-b-16" data-validate="<%= __("validation.required",__('admin.fields.floating_confirmation')) %>">
                    <input class="input100" type="password" id="floatingConfirmation" name="floatingConfirmation" placeholder="<%= __('admin.fields.floating_confirmation') %>">
                    <span class="focus-input100"></span>
                </div>


                <div class="p-t-13 p-b-23">
                    <a href="forget-password" class="txt2">
                        <%= __('admin.actions.forget_password')%>
                    </a>
                </div>

                <div class="container-login100-form-btn p-b-40">
                    <button class="login100-form-btn" type="submit">
                        <%= __('admin.actions.send')%>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
