<div class="row mt-0 mt-lg-8">
    <div class="col-12">
        <div class="card card-custom gutter-b example example-compact">
            <form action="/admin/channels/update/<%= channel.id%>" method="post" enctype="multipart/form-data">
                <%- include('../../includes/admin/validation-errors') %>
                <div class="card-header">
                    <h3 class="card-title"><%=page_title%></h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="title">عنوان*</label>
                            <input value="<%= oldData?.title  ?? channel.title %>" type="text" name="title" id="title" class="form-control">
                        </div>
                        <div class="form-group col-6">
                            <label for="title">زیر عنوان</label>
                            <input value="<%= oldData?.sub_title  ?? channel.sub_title %>" type="text" name="sub_title" id="sub_title" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="status">وضعیت*</label>
                            <select class="form-control" name="status" id="status">
                                <option value=""></option>
                                <option value="1" <%= ((oldData?.status ?? channel.status) == true) ? 'selected': '' %> >منتشر شده</option>
                                <option value="0" <%= (oldData?.status ?? channel.status ) == false ? 'selected': '' %> >پیشنویس</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>تصویر </label>
                            <div class="custom-file">
                                <input type="file" name="image" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <% if (channel.image) {%>
                                <div class="symbol symbol-40 symbol-lg-80 mt-4">
                                    <img src="<%= asset(`${CHANNEL_IMAGE_FOLDER}/${channel.image}`)%>"  class="mr-1 mb-1 imglist"
                                         style="border-radius: 5px" />
                                </div>
                            <%}%>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary mr-2">دخیره <i class="fa fa-save"></i></button>
                    <a href="/admin/channels"  class="btn btn-secondary">بازگشت <i class="fa fa-times"></i></a>
                </div>
            </form>
        </div>
    </div>
</div>