<div class="row mt-0 mt-lg-8">
    <div class="col-12">
        <div class="card card-custom gutter-b example example-compact">
            <form action="/admin/articles/update/<%= article.id%>" method="post" enctype="multipart/form-data">
                <%- include('../../includes/admin/validation-errors') %>
                <div class="card-header">
                    <h3 class="card-title"><%=page_title%></h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-12">
                            <label for="title"><%= __('admin.fields.title') %>*</label>
                            <input value="<%= oldData?.title  ?? article.title %>" type="text" name="title" id="title" class="form-control">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="status"><%= __('admin.fields.status') %>*</label>
                            <select class="form-control" name="status" id="status">
                                <option value=""></option>
                                <option value="1" <%= ((oldData?.status ?? article.status) == true) ? 'selected': '' %> > <%= __('admin.statuses.published') %></option>
                                <option value="0" <%= (oldData?.status ?? article.status ) == false ? 'selected': '' %> > <%= __('admin.statuses.draft') %></option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="priority"><%= __('admin.fields.view') %>*</label>
                                                        <select class="form-control" name="priority" id="priority">
                                                            <option value=""></option>
                                                            <option value="<%= mediaVide.image %>" <%= ((oldData?.priority ?? article?.priority) == mediaVide.image) ? 'selected': '' %>>  <%= __('admin.media_types.image') %></option>
                                                            <option value="<%= mediaVide.video %>" <%= (oldData?.priority  ?? article?.priority) == mediaVide.video ? 'selected': '' %> > <%= __('admin.media_types.video') %></option>
                                                        </select>
                                                 </div>
                        <div class="form-group col-md-6">
                            <label><%= __('admin.fields.image') %> </label>
                            <div class="custom-file">
                                <input type="file" name="image" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <% if (article.image) {%>
                                <div class="symbol symbol-40 symbol-lg-80 mt-4">
                                    <img src="<%= asset(`${ARTICLE_IMAGE_FOLDER}/${article.image}`)%>"  class="mr-1 mb-1 imglist"
                                         style="border-radius: 5px" />
                                </div>
                            <%}%>
                        </div>
                        <div class="form-group col-md-8">
                            <label><%= __('admin.fields.video') %> </label>
                                                    <div></div>
                                                    <div class="custom-file">
                                                        <input type="file" name="video" class="custom-file-input" id="video">
                                                        <label class="custom-file-label" for="video">Choose file</label>
                                                    </div>
                                                    <% if (article?.video) {%>
                                                        <div class="symbol symbol-40 symbol-lg-80 mt-4">
                                                              <video width="200" height="150" controls class="mr-1 mb-1 imglist" style="border-radius: 5px">
                                                                <source src="<%= asset(`${ARTICLE_VIDEO_FOLDER}/${article?.video}`)%>" type="video/mp4">
                                                              Your browser does not support the video tag.
                                                              </video>
                                                        </div>
                                                   <%}%>
                                                </div>
                        <div class="form-group col-12">
                            <label for="description"><%= __('admin.fields.body') %>*</label>
                            <textarea rows="10" class="form-control" name="description" id="description"><%= oldData?.description ?? article.description %></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary mr-2"><%= __('admin.actions.save') %> <i class="fa fa-save"></i></button>
                    <a href="/admin/articles"  class="btn btn-secondary"><%= __('admin.actions.cancel') %> <i class="fa fa-times"></i></a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/37.0.1/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create( document.querySelector( '#description' ) ,{
            language: "<%= language%>"
        })
        .catch( error => {
            console.error( error );
        } );
</script>