<div class="row mt-0 mt-lg-8">
    <%- include('../../includes/admin/search-form') %>
    <div class="col-12 p-0 m-0">
        <%- include('../../includes/admin/validation-errors') %>
    </div>
    <div class="col-12 table-responsive">
        <table  class="table table-striped table-bordered" id="kt_datatable">
            <thead>
            <tr>
                <th>#</th>
                <th><%= __('admin.fields.image') %></th>
                <th><%= __('admin.fields.title') %></th>
                <th><%= __('admin.fields.view') %></th>
                <th><%= __('admin.fields.status') %></th>
                <th><%= __('admin.fields.published_at') %></th>
                <th><%= __('admin.fields.actions') %></th>
            </tr>
            </thead>
            <tbody>
            <% if(articles.length > 0) { %>
                <% for (let article in articles) { %>
                    <tr>
                        <td><%= eval(article) + 1 %></td>
                        <td>
                            <div class="symbol symbol-30 symbol-circle">
                              <% if(articles[article].image) { %>
                                <img src="<%= asset(`${ARTICLE_IMAGE_FOLDER}/${articles[article].image}`)%>" >
                               <% } %>
                            </div>
                        </td>
                        <td><%= articles[article]['title'] %></td>
                        <td><%= articles[article]?.priority === mediaVide.image ? __('admin.media_types.image') : __('admin.media_types.video') %></td>
                        <td><%= articles[article].status == true ? __('admin.statuses.published') : __('admin.statuses.draft') %></td>
                        <td><%= formatDate(articles[article]['created_at'],language) %></td>
                        <td>
                            <a type="button" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2" href="articles/edit/<%= articles[article]['id'] %>">
                                <i class="flaticon2-edit"></i>
                            </a>
                            <button onclick="deleteItem('<%=articles[article]['id'] %>')" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2">
                                <i class="flaticon-delete"></i>
                            </button>
                        </td>
                    </tr>
                <% } %>
            <% } else { %>
                <td class="text-center" colspan="8">
                    <%= __('admin.general.no_data') %>
                </td>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
<%- include('../../includes/admin/pagination') %>
<script>
    function deleteItem(id) {
        Swal.fire({
            title: "<%= __('admin.actions.delete')%>",
            text: "<%= __('admin.general.delete_confirm')%>",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: "<%= __('admin.actions.cancel')%>",
            confirmButtonText: "<%= __('admin.actions.confirm')%>",
        }).then((result) => {
            if (result.value) {
                window.location.href = "articles/delete/"+id;
            }
        })
    }
</script>